# Node
node_modules/
dist/

# Java
target/
*.iml

# Common
.DS_Store
.idea/
.vscode/

# Backend
*.log
*.class
*.jar
*.war
*.ear
/backend/src/main/resources/firebase-adminsdk.json


# Frontend
build/
coverage/
npm-debug.log
yarn-error.log
